*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 90vh;
}

.navigation{
    position: relative;
    width: 400px;
    height: 70px;
    background: #faf5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul{
    display: flex;
    width: auto;
    
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #2196f3;
}


.navigation ul li .active a .icon{
    transform: translateY(-32px);
    color: #2196f3;
}


.navigation ul li a .text{
    position: absolute;
    background: #2196f3;
    color: white;
    padding: 2px 7px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 1; 
    transform: translateY(15px);
    
}



.navigation ul li .active a .icon{
    transform: translateY(-4px);
    opacity: 1;
}

.indicator::after{
    content: '';
    position: absolute;
    top: 5px;
    right: -28px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -15px 18px #ffff;

}
